@page "/students/{Id:int}"

@using Students.Data

<PageTitle>Dane Studenta</PageTitle>


<h3>Student's' Details</h3>
<hr />

<EditForm Model="@student" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="align-items-center">
        <div class="input-group">
            <InputText class="form-control mb-2" id="firstname" @bind-Value="student.FirstName" />
        </div>

        <div class="input-group">
            <InputText class="form-control mb-2" id="lastname" @bind-Value="student.LastName" />
        </div>

        <div class="input-group">
            <InputDate class="form-control" @bind-Value="student.BirthDate" />
        </div>

        <div class="input-group">
            <img class="form-control" src="@student.Avatar" alt="avatar"/>
        </div>

        <div class="input-group">
            <InputText class="form-control" @bind-Value="student.Studies" />
        </div>
    </div>
    
    <button class="form-control row-auto" type="submit">Zapisz</button>
</EditForm>

@code{

    [Parameter]
    public int Id { get; set; }

    public Student student;

    protected override async Task OnInitializedAsync()
    {
        student =  StudentService.GetStudent(Id);
    }

}